* {
    /* margin: 0 auto; */
    /* border: 1px solid white; */
    /* text-align: center; */
}

html,
body {
    margin: 0;
    padding: 0;
}

.container {
    background-color: black;
    color: white;
}

.top-nav {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px 70px;
}

.sections {
    display: flex;
    align-items: center;
    justify-content: space-between;
    /* flex: 1; */
    width: 30%;
}

.name {
    float: left;
    flex: 1;
}

.portrait-container {
    display: flex;
    justify-content: center;
    /* width: 532px; */
    margin: 0 auto;
}

.portrait-images {
    height: 400px;
    /* width: 600px; */
    overflow:hidden;
}

.bio-container {
    width: 300px;
    margin: 0 auto;
    padding: 40px;
}

.portfolio-section>h1 {
    text-align: center;
    font-size: 40px;
}

li::marker {
    content: "";
}

.skills {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0px 10px;
}

.machine-learning>img,
.web-dev>img,
.data-analysis>img {
    height: 300px;
    width: 100%;
    flex: 1;
}

.project-links {
    font-size: 25px;
    padding: 0;
    text-align: center;
    display: flex;
    justify-content: center;
}

a {
    color: blue;
}

.skill-title {
    text-align: center;
    font-size: 30px;
}

.play-button {
    height: 70px;
    position: relative;
    top: -190px;
    left: 220px;
    border: 1px solid black;
    border-radius: 100%;
}

video {
    width: 100%;
}

#left-slideshow-arrow {
    position: relative;
    right: 530px;
    top: 170px;
    background-color: rgba(255, 255, 255, 0);
    height: 50px;
}

#right-slideshow-arrow {
    position: relative;
    height: 50px;
    background-color: rgba(255, 255, 255, 0);
    right: 100px;
    transform: rotate(180deg);
    top: 170px;
}

.edu-title >h1 {
text-align: center;
}

.uwm-photo-div {
    display: flex;
    align-items: center;
    justify-content: center;
}

.uwm-photo-div > img {
    height: 300px;
    padding: 20px;
    border-radius: 50px;
}

.uwm-photo-div > p {
    font-size: 30px;
    padding: 20px;
}

#portfolio-title > a,
#education-title > a,
#contact-title > a {
    color: white;
    text-decoration: none;
}

.contact-container {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0px 100px 100px 100px;
}

.contact-icons {
    background-color: white;

    margin: 20px;
    height: 50px;
}

#contact-h1 {
    text-align: center;
    padding-top: 50px;
}
